<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Employee Form Page</title>
</head>
<body>
	
<form action="create" method="post">
    <label for="id">Employee ID:</label>
    <input type="number" id="id" name="id">
    <br><br>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <br><br>

    <label for="dept">Department:</label>
    <input type="text" id="dept" name="Department">
    <br><br>

    <label for="salary">Salary:</label>
    <input type="number" id="salary" name="Salary">
    <br><br>

    <input type="submit" value="ADD EMPLOYEE"> 
</form>
	
</body>
</html>